# OCI Configuration Template
# Populate these values in a .env file in the project root.
OCI_CONFIG_FILE='~/.oci/config'
OCI_CONFIG_PROFILE='DEFAULT'
OCI_NAMESPACE='xxxxxxxxx'
OCI_BUCKET_NAME='oci-drive'
OCI_COMPARTMENT_ID='ocid1.tenancy.oc1..xxxxxxxxxxxxxxxxxxxxxxxxx'
FLASK_SECRET_KEY='sfsdlslksòflklk'
GOOGLE_CLIENT_ID='xxxxxxxxx.apps.googleusercontent.com'
GOOGLE_CLIENT_SECRET='xxxxxxxxxxxxxxxxxxxxxxx'
GOOGLE_REDIRECT_URI='http://localhost:5001/api/gdrive/callback'
